@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    color: white;
  }
  html {
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  